* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    background: #E7EEFF;
}
